<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="#">python</a></li>
            <li><a href="#">golang</a></li>
            <li><a href="#">java</a></li>
            <li><a href="#">c++</a></li>
            <li><a href="#">关于博主</a></li>

            {{if compare .username ""}}
                <li style="float: right">
                    <a href="/login">登录</a>
                </li>
                <li style="float: right">
                    <a href="/register">注册</a>
                </li>
            {{else}}
                <li style="float: right">
                    <a href="#">{{.username}}</a>
                </li>
            {{end}}

            {{/*<li style="float: right">*/}}
                {{/*<a href="">登录</a>*/}}
            {{/*</li>*/}}
            {{/*<li style="float: right">*/}}
                {{/*<a href="{{urlfor "RegisterController.Get"}}">注册</a>*/}}
            {{/*</li>*/}}
            {{/*<li style="float: right">*/}}
                {{/*<a href="#">{{.username}}</a>*/}}
            {{/*</li>*/}}
        </ul>



    </nav>

</header>
</body>
</html>